img {
    object-fit: cover;
}
.TopBar,.container {
    top: 0px;left: 33%;right: 33%;
}
.bottom-control {
    left: 33%;right: 33%;bottom: 0px;
    z-index: 3;
    padding: 10px 20px;
    border-bottom: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.TopBar {
    height: 90px;
    z-index: 3;
    background-color: #fff;
    display: none;
    top: -150px;
    transition: 0.4s !important;
    padding-left: 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.TopBar.active {
    display: flex;
    top: 0px;
    align-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px 1px #ddd;
}
.TopBar .CartButton {
    width: 50px;
    height: 50px;
    border-radius: 99px;
    color: #fff;
}
.TopBar .CartButton span {
    font-size: 18px;
}
.TopBar .CartCount {
    padding: 4px;
    color: #fff;
    padding-left: 12px;
    padding-right: 18px;
    margin-right: -10px;
    border-radius: 7px;
}
.TopBar .photo {
    height: 60px;
    width: 60px;
    border-radius: 99px;
}
.TopBar h1 {
    font-size: 22px;
}

.cover {
    width: 100%;
    aspect-ratio: 5 / 2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.container .photo {
    width: 150px;
    height: 150px;
    border-radius: 999px;
    border: 10px solid #fff;
    margin-top: -90px;
}
.social-item {
    width: 80px;
    height: 80px;
    margin: 10px;
}
.social-item img {
    width: 50%;
    aspect-ratio: 1;
}

.CategoryArea { border-radius: 12px; }
.CategoryArea ion-icon { font-size: 22px; }

.product-item {
    border-radius: 12px;
    margin-bottom: 30px;
}
.product-image {
    height: 100px;
    aspect-ratio: 3 / 2;
    border-radius: 12px;
}

.ImagesArea {
    white-space: nowrap;
    height: 200px;
    overflow-x: auto;
}
.ImagesArea img {
    height: 98%;
    aspect-ratio: 16 / 9;
    border-radius: 7px;
    margin-right: 10px;
    object-fit: cover;
}

@media (max-width: 480px) {
    .TopBar,.container,.bottom-control {
        left: 0%;right: 0%;
    }
    .padding-on-mobile {
        padding: 10px;
    }
}